
<div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
style="background:url(assets/backoffice/assets/images/big/auth-bg.jpg) no-repeat center center;">
<div class="auth-box row text-center">
    <div class="col-lg-7 col-md-5 modal-bg-img" style="background-image: url(assets/backoffice/assets/images/big/3.jpg);">
    </div>
    <div class="col-lg-5 col-md-7 bg-white">
        <div class="p-3">
            <img src="assets/backoffice/assets/images/big/icon.png" alt="wrapkit">
            <h2 class="mt-3 text-center">Sign Up for Free</h2>
            <form class="mt-4" (submit)="onLoginSubmit()">
                <div class="row">
                    
                  
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input class="form-control" [(ngModel)]="email"  name="email" placeholder="e-mail">
                        </div>
                    </div>
                    
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input class="form-control" [(ngModel)]="password" type="password" name="password2" placeholder="password">
                        </div>
                    </div>
                    <div class="col-lg-12 text-center">
                    
                        <input type="submit" class="btn btn-block btn-dark"name="signup_submit" value="Sign me up" />
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
</div>
</div>

